---
title: Crédits
description: Principaux contributeurs et développeurs du projet Luanti
layout: default
redirect_from:
- /credits.html
- /contributors/
---

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-10 is-9-desktop is-8-widescreen is-7-fullhd content">

        <h1>Crédits</h1>

        <section class="section">
          <div class="container content">
        
            <h2>Équipe de base</h2>
            <p>
              L'équipe de base est composée de contributeurs disposant de privilèges et de responsabilités spécifiques.
            </p>
            <p>
              Les développeurs principaux décident de ce qui peut être ajouté à Luanti en votant pour ou contre les pull requests. Ils ont également un accès direct aux dépôts de l'équipe Luanti sur GitHub.
              <a href="https://docs.luanti.org/for-engine-devs/organization/">En savoir plus.</a>
            </p>
        
            <h3>Développeurs principaux actifs</h3>
            {% include credits_list.html people=site.data.credits.core_developers %}
        
            <h3>Membres actifs de l'équipe de base</h3>
            {% include credits_list.html people=site.data.credits.core_team %}
        
            <h3>Anciens développeurs principaux</h3>
            {% include credits_list.html people=site.data.credits.previous_core_developers %}
        
            <hr>
            <h2>Contributeurs</h2>
            <p>
              Consultez également les listes complètes des contributeurs à
              <a href="https://github.com/luanti-org/luanti/graphs/contributors">Luanti</a> et au
              <a href="https://github.com/luanti-org/minetest_game/graphs/contributors">jeu Minetest</a>.
            </p>
        
            <h3>Actifs</h3>
            {% include credits_list.html people=site.data.credits.contributors %}
        
            <h3>Précédents</h3>
            {% include credits_list.html people=site.data.credits.previous_contributors %}
        
            <p class="has-text-weight-bold">
              Plus d'informations disponibles sur
              {% comment %}
              OpenHub semble parfois instable, donc ignoré dans la vérification des liens par HTMLProofer.
              {% endcomment %}
              <a href="https://www.openhub.net/p/minetest-c55" data-proofer-ignore>Open Hub</a>.
            </p>
            <p>
              Vous souhaitez <a href="{{ '/get-involved/#contribute' | relative_url }}">contribuer</a> ?
            </p>
        
          </div>
        </section>
        
