---
title: Luanti dans l'éducation
description: Raisons et ressources pour utiliser Luanti dans l'éducation
layout: default
---

<h1 class="title main-title">{{ page.title }}</h1>

<section class="section">
  <div class="container">
    <h2 id="why" class="title">Pourquoi Luanti ?</h2>
    <div class="columns is-multiline">
      {% for point in site.data.edu.why %}
        <div class="column is-one-third">
          <h3 class="title is-4">{{ point.title }}</h3>
          <p>
            {{ point.para | markdownify }}
          </p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="projects" class="section card-container">
  <div class="container">
    <h2 class="title">Projets</h2>

    <article id="map" class="card is-clipped mb-5">
      <h3 class="is-sr-only">Carte des projets</h3>
      <iframe width="100%" height="450px" frameborder="0" allowfullscreen=""
        allow="geolocation" class="is-block" title="Carte des projets"
        src="{{ site.data.edu.projects_map }}"></iframe>
    </article>

    <div class="columns is-multiline">
      {% for point in site.data.edu.projects %}
        {% include edu_card.html item=point %}
      {% endfor %}
    </div>
  </div>
</section>

<section class="section card-container">
  <div class="container">
    <h2 id="resources" class="title is-3">Ressources</h2>
    <div class="columns is-multiline">
      {% for point in site.data.edu.resources %}
        {% include edu_card.html item=point %}
      {% endfor %}
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2 id="get-involved" class="title is-3">Participez</h2>
    <div class="columns">
      <article class="column is-half">
        <h2 class="title is-4">Communauté Luanti</h2>
          <p class="my-4">
            Impliquez-vous dans la communauté Luanti en rejoignant l'une des
            plateformes sociales officielles.
          </p>
          <p>
            <a class="button is-primary" href="/get-involved/">
              Participez
            </a>
          </p>
        </article>
        <article class="column is-half">
          <h2 class="title is-4">Discord Luanti Edu (non officiel)</h2>
          <p class="my-4">
            Un Discord dirigé par des éducateurs est dédié à la discussion
            de Luanti dans le domaine de l'éducation.
          </p>
          <p>
            <a class="button is-primary" href="https://discord.gg/hUs9xT634S">
              Rejoindre le Discord
            </a>
          </p>
        </article>
      </div>
    </div>
  </section>
  
  <section class="section">
    <div class="container">
      <h2 id="leaflet" class="title">Brochure</h2>
      <p class="my-4">
        Besoin d'une version imprimable de cette page ? Consultez la
        brochure "Luanti dans l'éducation".
      </p>
      <p>
        <a class="button is-primary"
            href="https://gitlab.com/rubenwardy/fosdem24/-/tree/main/edu_leaflet?ref_type=heads">
          Brochure "Luanti dans l'éducation"
        </a>
      </p>
    </div>
  </section>
  
  <section class="section">
    <div class="container">
      <h2 id="resources" class="title">Vous travaillez sur un projet éducatif ?</h2>
      <p>
        Contribuez à la communauté en écrivant sur votre projet
        et/ou en rendant vos ressources pédagogiques accessibles publiquement. Ensuite,
        <a href="https://github.com/minetest/minetest.github.io/issues/new">
          créez une issue</a> ou
        <a href="https://rubenwardy.com/contact/">contactez rubenwardy</a>.
      </p>
    </div>
  </section>
  
