---
title: S'impliquer
description: >-
  Découvrez comment vous impliquer dans la communauté ou contribuer au développement.
layout: default
redirect_from:
  - /get_involved/
  - /community.html
  - /community/
  - /irc.html
  - /irc/
  - /development.html
  - /development/
  - /reporting_issues/
  - /donate/
  - /support/
---

<h1 class="is-sr-only">Impliquez-vous</h1>

<section class="section">
  <div class="container">
    {% assign rows = "community,social" | split: "," %}
    {% for row in rows %}
    <div class="columns is-variable is-8 is-centered iconlist">
      {% for link in site.data[row] %}
      <a class="column is-narrow has-text-centered no-underline hover-enlarge" href="{{ link.url }}">
        <div class="image">
          <img src="{{ '/media/logos/' | append: link.icon | relative_url }}" alt="{{ link.name }} logo">
        </div>
        <span class="title">{{ link.name }}</span>
      </a>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</section>

<section class="section">
  <div class="container">
    <h2 id="contribute" class="title section-title">Contribuer</h2>
    <div class="columns is-centered">
      <div class="column">
        <h3 id="everyone" class="is-size-3">Tout le monde</h3>
        <div class="content">
          <ul>
            <li>
              <a href="#reporting-issues">Signalez les bugs et demandez des fonctionnalités</a>.
            </li>
            <li>
              Apportez votre soutien sur les <a href="https://forum.luanti.org">forums</a> et sur <a href="https://wiki.luanti.org/IRC">IRC</a>.
            </li>
            <li>
              Aidez à traduire Luanti avec
              <a href="https://hosted.weblate.org/projects/minetest/minetest/">notre interface web</a>.
            </li>
            <li>
              <a href="https://forum.luanti.org/viewtopic.php?f=7&t=19877">Aidez-nous à examiner et fusionner les pull requests</a>.
            </li>
            <li>
              <a href="#donate">Faites un don</a> d'argent pour financer l'infrastructure, et
              <a href="https://content.luanti.org/donate/">soutenez vos contributeurs préférés</a>.
            </li>
          </ul>
        </div>
      </div>
      <div class="column">
        <h3 id="programmers" class="is-size-3">Développeurs</h3>
        <div class="content">
          <ul>
            <li>
              Travaillez sur un <a href="https://dev.luanti.org/Modding_Intro">jeu ou un mod</a>
              et publiez-le sur <a href="https://content.luanti.org">ContentDB</a>.
              Le <a href="https://rubenwardy.com/minetest_modding_book/">Livre de modding Luanti</a>
              offre une introduction facile à la création de mods et de jeux.
            </li>
            <li>
              Signalez des bugs et soumettez des patchs sur
              <a href="https://github.com/luanti-org">GitHub</a> ou <a href="https://wiki.luanti.org/IRC">IRC</a>.
            </li>
            <li>
              Lisez la documentation sur le <a href="https://dev.luanti.org/Engine">moteur</a>.
            </li>
            <li>
              Pour les tâches faciles à commencer, cherchez le label "good first issue" sur le
              <a href="https://github.com/luanti-org/luanti/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22good+first+issue%22">moteur</a>
              ou le
              <a href="https://github.com/luanti-org/luanti-org.github.io/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22good+first+issue%22">site web</a>
              des dépôts.
            </li>
          </ul>
        </div>
      </div>
      <div class="column">
        <h3 id="artists" class="is-size-3">Artistes</h3>
        <div class="content">
          <ul>
            <li>
              Faites équipe et créez un nouveau jeu.
            </li>
            <li>
              Créez un
              <a href="https://wiki.luanti.org/Texture_Packs">Pack de textures</a>.
            </li>
            <li>
              Participez aux forums et aidez avec les
              <a href="https://forum.luanti.org/viewtopic.php?f=47&t=1585">demandes de textures</a>.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2 id="developed" class="title section-title">Comment Luanti est-il développé ?</h2>
    <div class="content">
      <h3 class="is-size-3">Le Processus</h3>
      <p>
        Luanti est développé et maintenu par un groupe de bénévoles appelé
        l'<a href="https://github.com/orgs/minetest/people">équipe principale</a>,
        composée de personnes de confiance chargées de faire progresser Luanti
        dans de bonnes conditions.
        L'équipe principale est composée de personnes ayant fait de grandes
        <a href="{{ '/credits/' | relative_url }}">contributions</a> à Luanti.
        Les contributions sont approuvées si deux membres de l'équipe principale sont d'accord.
      </p>
      <p>
        Tout le développement et les décisions sont faits publiquement, sur
        <a href="https://github.com/luanti-org">GitHub</a> et
        <a href="https://wiki.luanti.org/IRC">Internet Relay Chat (IRC)</a>.
        Des réunions sont parfois organisées sur IRC, avec
        <a href="https://dev.luanti.org/Meetings">des plans et des notes publiées</a>.
      </p>
      <p>
        L'équipe principale peut être contactée sur
        <a href="https://wiki.luanti.org/IRC">IRC</a> à
        <code>#luanti-dev @ irc.libera.chat</code>.
      </p>
      <p>
        Pour plus d'informations, consultez
        <a href="https://dev.luanti.org/All_rules_regarding_to_development">
          toutes les règles concernant le développement
        </a>.
      </p>

      <h3 class="is-size-3">Structure du projet</h3>
      <p>
        Luanti est distribué sous forme de moteur, combiné avec quelques jeux.
        Les dépôts principaux peuvent être trouvés sur
        <a href="https://github.com/luanti-org/">https://github.com/luanti-org/</a>.
      </p>

      <ul>
        <li>
          <strong>Le moteur</strong> (noyau) est la base de tout.
          C++ est utilisé pour la gestion et les tâches sensibles à la performance,
          Lua pour les choses extensibles.
        </li>
        <li>
          <strong>Les jeux</strong> définissent le contenu du jeu : les nœuds, les entités,
          les textures, les modèles, les sons et le comportement personnalisé implémenté en Lua.
          Les jeux se composent de mods qui se branchent dans le moteur en utilisant l'
          <a href="https://dev.luanti.org/Modding_Intro">API de modding</a>.
        </li>
      </ul>

      <p>
        Pour plus d'informations, consultez la
        <a href="https://dev.luanti.org/Terminology">terminologie</a> ou la
        <a href="https://dev.luanti.org/Engine">vue d'ensemble du moteur</a>
        sur le wiki des développeurs.
      </p>

      <h3 class="is-size-3">Feuilles de route et plans futurs</h3>
      <p>
        En tant que projet open source développé par des bénévoles, Luanti est
        principalement développé de manière itérative plutôt que planifiée de manière formelle. Cependant,
        il y a certains objectifs à long et moyen terme, qui ont été approuvés par les développeurs principaux :
      </p>
      <p>
        <a class="button is-primary"
            href="https://github.com/luanti-org/luanti/blob/master/doc/direction.md">
          Feuille de route
        </a>
      </p>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2 id="reporting-issues" class="title section-title">Signaler des problèmes</h2>
    <div class="content">
      <h3 class="is-size-3">Où ?</h3>
      <p>
        Différentes choses liées à Luanti sont maintenues par différentes personnes, contactées de différentes manières. Vous pouvez trouver où signaler les problèmes, bugs et autres types de problèmes concernant chaque "produit".
      </p>
      <p>
        Les personnes sont généralement disponibles sur IRC de Libera <abbr title="Internet Relay Chat">IRC</abbr>, Discord, les Forums Luanti, GitHub et/ou par email.
      </p>
      <table class="table is-striped">
        <tr>
          <th>Programme</th>
          <th>Personnes responsables</th>
          <th>Source</th>
          <th>Suivi des problèmes</th>
        </tr>
        <tr>
          <td>Luanti Engine</td>
          <td>Développeurs principaux</td>
          <td>
            <a href="https://github.com/luanti-org/luanti">Source</a>
          </td>
          <td>
            <a href="https://github.com/luanti-org/luanti/issues">Problèmes</a>
          </td>
        </tr>
        <tr>
          <td>Minetest Game</td>
          <td>Développeurs principaux</td>
          <td>
            <a href="https://github.com/luanti-org/minetest_game">Source</a>
          </td>
          <td>
            <a href="https://github.com/luanti-org/minetest_game/issues">Problèmes</a>
          </td>
        </tr>
        <tr>
          <td>Minetestmapper</td>
          <td>Développeurs principaux</td>
          <td>
            <a href="https://github.com/luanti-org/minetestmapper">Source</a>
          </td>
          <td>
            <a href="https://github.com/luanti-org/minetestmapper/issues">Problèmes</a>
          </td>
        </tr>
        <tr>
          <td>Blender B3DExport</td>
          <td>Développeurs principaux</td>
          <td>
            <a href="https://github.com/minetest/B3DExport">Source</a>
          </td>
          <td>
            <a href="https://github.com/minetest/B3DExport/issues">Problèmes</a>
          </td>
        </tr>
        <tr>
          <th>Service</th>
          <th>Personnes responsables</th>
          <th>Source</th>
          <th>Suivi des problèmes</th>
        </tr>
        <tr>
          <td>*.luanti.org DNS</td>
          <td>celeron55</td>
          <td>n/a</td>
          <td>Contactez celeron55. Son approbation est nécessaire pour héberger sous luanti.org</td>
        </tr>
        <tr>
          <td>www.luanti.org</td>
          <td>celeron55</td>
          <td><a href="https://github.com/luanti-org/luanti-org.github.io">Source</a></td>
          <td><a href="https://github.com/luanti-org/luanti-org.github.io/issues">Problèmes</a></td>
        </tr>
        <tr>
          <td>forum.luanti.org</td>
          <td>celeron55</td>
          <td><a href="https://github.com/luanti-org/forum.luanti.org_template1">Thème</a></td>
          <td>Contactez un modérateur pour les problèmes de contenu (Utilisez "signaler ce message" si possible)</td>
        </tr>
        <tr>
          <td>wiki/dev.luanti.org</td>
          <td>celeron55</td>
          <td><a href="https://www.mediawiki.org">MediaWiki</a></td>
          <td>
            <a href="https://forum.luanti.org/viewtopic.php?f=3&t=10473">Demandez un compte pour éditer</a>
            ou signalez des problèmes <a href="https://forum.luanti.org/viewforum.php?f=3">sur le forum</a>
          </td>
        </tr>
        <tr>
          <td>servers.luanti.org</td>
          <td>sfan5</td>
          <td><a href="https://github.com/luanti-org/serverlist">Source</a></td>
          <td><a href="https://github.com/luanti-org/serverlist/issues">Problèmes</a></td>
        </tr>
        <tr>
          <td>content.luanti.org</td>
          <td>rubenwardy</td>
          <td><a href="https://github.com/luanti-org/contentdb">Source</a></td>
          <td><a href="https://github.com/luanti-org/contentdb/issues">Problèmes</a></td>
        </tr>
        <tr>
          <td>irc.luanti.org</td>
          <td>sfan5</td>
          <td><a href="https://github.com/moritz/ilbot">Source</a></td>
          <td>Contactez sfan5</td>
        </tr>
        <tr>
          <td><a href="https://play.google.com/store/apps/details?id=net.minetest.minetest">Google Play</a></td>
          <td>nerzhul aka. nrzkt</td>
          <td>n/a</td>
          <td>Contactez nerzhul</td>
        </tr>
      </table>
    </div>
  </div>
  </section>
  
  <section class="section">
    <div class="container">
      <h2 id="donate" class="title section-title">Faire un don</h2>
      <div class="content">
        <p>
          Luanti n'a pas d'entité juridique pour accepter des dons, et la plupart des développeurs principaux ne souhaitent pas accepter de dons
          <a href="https://github.com/luanti-org/luanti-org.github.io/issues/222">eux-mêmes</a>.
        </p>
  
        <h3 class="is-size-3">Luanti <span class="is-size-5 has-text-grey has-text-weight-normal">(équipe)</span></h3>
        <p>
          L'équipe Liberapay vous permet de soutenir plusieurs membres à la fois.
        </p>
        <p>
          <a class="button is-primary" href="https://liberapay.com/luanti/">Liberapay</a>
        </p>
  
        <h3 class="is-size-3">celeron55 <span class="is-size-5 has-text-grey has-text-weight-normal">(fondateur)</span></h3>
        <p>
          Vous pouvez donner de l'argent à celeron55.
          Il est le créateur original de Luanti, et héberge les forums et les wikis.
          Bien qu'il ne soit pas impliqué dans le développement actif, il joue un rôle consultatif et tranche les désaccords.
        </p>
        <p>
          <a class="button is-primary" href="https://liberapay.com/celeron55/">Liberapay</a>
          <a class="button is-secondary" href="https://paypal.me/celeron55">Paypal</a>
        </p>
  
        <h3 class="is-size-3">Autres</h3>
        <p>
          Votre serveur préféré ou créateur de contenu pourrait aussi accepter des dons ; n'oubliez pas de vérifier ces options.
       </p>
        <p>
          <a class="button is-primary" href="https://content.luanti.org/donate/">
            Trouvez des packages à soutenir sur ContentDB
          </a>
        </p>
    </div>
  </div>
</section>
