<footer class="footer">
  <div class="container">
    <div class="columns is-multiline">

      <div class="column is-6-mobile">
        <h5 class="footer-title">Luanti</h5>
        <ul class="list-unstyled">
          <li><a href="{{ '/downloads/' | relative_url }}">Télécharger</a></li>
          <li><a href="https://blog.luanti.org/">Actualités</a></li>
          <li><a href="{{ '/credits/' | relative_url }}">Crédits</a></li>
          <li><a href="{{ '/education/' | relative_url }}">Pour l'éducation</a></li>
          <li><a href="/app-privacy-policy/">Politique de confidentialité</a></li>
          <li><a href="/press/">Kit de presse / Affiches</a></li>
        </ul>
      </div>

      <div class="column is-6-mobile">
        <h5 class="footer-title">Contenu</h5>
        <ul class="list-unstyled">
          <li><a href="https://content.luanti.org">ContentDB</a></li>
          <li><a href="https://content.luanti.org/packages/?type=game">Jeux</a></li>
          <li><a href="https://content.luanti.org/packages/?type=mod">Mods</a></li>
          <li><a href="https://content.luanti.org/packages/?type=txp">Packs de textures</a></li>
        </ul>
      </div>

      <div class="column is-6-mobile">
        <h5 class="footer-title">Communauté</h5>
        <ul class="list-unstyled">
          <li><a href="https://forum.luanti.org">Forums</a></li>
          <li><a href="https://docs.luanti.org/about/irc/">IRC</a></li>
          <li><a href="{{ '/servers/' | relative_url }}">Serveurs</a></li>
          <li><a href="https://docs.luanti.org/">Documentation</a></li>
        </ul>
      </div>

      <div class="column is-6-mobile">
        <h5 class="footer-title">Réseaux sociaux</h5>
        <ul class="list-unstyled">
          <li><a href="https://matrix.to/#/#minetest:tchncs.de">Matrix</a></li>
          <li><a href="https://floss.social/@Luanti" rel="me">Mastodon</a></li>
          <li><a href="https://discord.gg/minetest">Discord</a></li>
          <li><a href="https://reddit.com/r/minetest/">Subreddit</a></li>
        </ul>
      </div>

      <div class="column is-6-mobile">
        <h5 class="footer-title">Développement</h5>
        <ul class="list-unstyled">
          <li><a href="https://github.com/luanti-org/luanti">GitHub</a></li>
          <li><a href="https://docs.luanti.org/about/irc/">#luanti-dev sur Libera IRC</a></li>
          <li><a href="https://docs.luanti.org/">Documentation Luanti</a></li>
          <li><a href="https://api.luanti.org">Lua API reference</a></li>
          <li><a href="{{ '/get-involved/#donate' | relative_url }}">Donate</a></li>
          <li><a href="https://rubenwardy.com/minetest_modding_book/">Luanti Modding Book</a></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="footer-copyright">
    © 2015-{{ site.time | date: '%Y' }} L'équipe Luanti.
    <a href="https://github.com/luanti-org/luanti-org.github.io">Source</a><br />
    MIT pour le code, CC-BY-SA 3.0 pour le contenu, média sous
    <a href="https://github.com/luanti-org/luanti-org.github.io/#license">différentes licences</a>.
    Icônes Font Awesome sous <a href="https://fontawesome.com/license">CC-BY 4.0</a>.
  </div>
</footer>
